extend layout

block content
  h1 Upload an Activity
  p Currently, we support *.GPX files.

  if session.email
    form(method="post", enctype="multipart/form-data", action="")
      input(type="file", name="file", required="required")
      button(type="submit") Upload
  else
    p You must login to import.
