extend layout

block content
  if session.email
    h1 Your most recent activities
    ol.activities
      each activity in activities
        li
          a(href='/activity/#{activity.id}') #{new Date(activity.time)} - #{activity.name}
  else
    h1 Noodlefit
