/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #f7fcff;
    font-family: Arial;
}

a {
    text-decoration: none;
}

header {
    background-color: #306981;
    box-shadow: #111 -1px 0 3px;
    position: fixed;
    width: 100%;
}

header li {
    float: left;
    margin: 7px 5px;
}

header li a {
    background-color: #49849d;
    border-radius: 3px;
    box-shadow: inset #3a4749 1px 1px 2px;
    color: #cbf0ff;
    font-size: 15px;
    display: block;
    padding: 6px 15px;
    text-shadow: #395154 0 1px 1px;
}

header li a:hover {
    background-color: #6aaac4;
    color: #fff;
}

h1 {
    color: #3a4749;
    font-size: 30px;
    margin: 10px 0 20px;
}

p {
    margin: 10px 0;
}

.content-wrapper {
    clear: both;
    float: left;
    margin-top: 50px;
    padding: 10px;
    width: 940px;
}

.activities {
    color: #f3650f;
    display: block;
    float: left;
    font-size: 20px;
    list-style-position: outside;
    list-style-type: decimal;
    margin-left: 25px;
}

.activities li a {
    background-color: #fff;
    border-radius: 3px;
    color: #222;
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
    padding: 15px 10px;
}

.activities li a:hover {
    background-color: #7ae5f8;
    color: #26545c;
}

#map-canvas {
    border-radius: 2px;
    display: block;
    float: left;
    height: 500px;
    position: relative;
    width: 935px;
}

#stats {
    background-color: #c0e6ec;
    border-radius: 2px;
    box-shadow: inset #9fc3d6 1px 1px 2px;
    clear: both;
    display: block;
    float: left;
    margin: 10px 0;
    padding: 10px;
}

#stats li {
    color: #4f6e73;
    float: left;
    font-size: 20px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    text-shadow: #fff 0 1px 0;
    width: 295px;
}

#stats li span {
    color: #088ea2;
    font-size: 25px;
    padding-left: 10px;
}

#points {
    display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {

}

@media only screen and (max-width: 599px) and (orientation:portrait) {
    body {
        overflow-x: hidden;
    }
    header {
        padding-bottom: 5px;
        width: 100%;
    }

    header li {
        margin-bottom: 2px;
        text-align: center;
        width: 141px;
    }

    h1 {
        font-size: 22px;
        line-height: 25px;
    }

    .content-wrapper {
        margin-top: 90px;
        width: 285px;
    }

    #stats {
        width: 265px;
    }

    #stats li {
        font-size: 18px;
    }

    #stats li span {
        font-size: 22px;
    }

    #map-canvas {
        height: 200px;
        width: 285px;
    }
}
